@model IEnumerable<UI.Models.Blogmodel>

@{
    ViewBag.Title = "Index";
}

<h2><center>List of Blogs</center></h2>
<p>
    @Html.ActionLink("Add New Blog", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BlogId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.subject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfCreation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BlogUrl)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BlogId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.subject)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfCreation)
        </td>
        <td><mark bgcolor="green">
            @Html.DisplayFor(modelItem => item.BlogUrl)
            </mark>
        </td>
       
        <td>
            @Html.ActionLink("EditBlog", "EditBlog", new { id = item.BlogId })  |

            @Html.ActionLink("DeleteBlog", "DeleteBlog", new { id = item.BlogId })  |
            @Html.ActionLink("BlogDetails", "BlogDetails", new { id = item.BlogId })



        </td>
    </tr>
}

</table>
